<a href="https://colab.research.google.com/github/mg253a/Challenge_Telecom_X_Desarrollo/blob/main/Telecom_data_sol2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **ANALISIS DE PREDICCION DE CANCELACION (CHURN), TELECOM X**

#Objetivo

‚úÖ Preparar los datos para el modelado (tratamiento, codificaci√≥n, normalizaci√≥n).

‚úÖ Realizar an√°lisis de correlaci√≥n y selecci√≥n de variables.

‚úÖ Entrenar dos o m√°s modelos de clasificaci√≥n.

‚úÖ Evaluar el rendimiento de los modelos con m√©tricas.

‚úÖ Interpretar los resultados, incluyendo la importancia de las variables.

‚úÖ Crear una conclusi√≥n estrat√©gica se√±alando los principales factores que influyen en la cancelaci√≥n.

# üìå Extracci√≥n(E - EXTRACT)

Para iniciar el an√°lisis, necesitaremos importar los datos de la API de Telecom X. Estos datos est√°n disponibles en formato JSON y contienen informaci√≥n esencial sobre los clientes, incluyendo datos demogr√°ficos, tipo de servicio contratado y estado de evasi√≥n.
üìå Enlace de la API:
üîó https://github.com/mg253a/Challenge_Telecom_-X_MG/blob/main/TelecomX_Data.json

## üì¶ Extracci√≥n de los datos (C√ìDIGO)

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import requests
import matplotlib.pyplot as plt

In [2]:
# Paso 1: Cargar los datos directamente desde la API utilizando Python.
url = 'https://raw.githubusercontent.com/mg253a/Challenge_Telecom_-X_MG/main/TelecomX_Data.json'
response = requests.get(url)
data = response.json()

df = pd.DataFrame(data)
print(df.head())

   customerID Churn                                           customer  \
0  0002-ORFBO    No  {'gender': 'Female', 'SeniorCitizen': 0, 'Part...
1  0003-MKNFE    No  {'gender': 'Male', 'SeniorCitizen': 0, 'Partne...
2  0004-TLHLJ   Yes  {'gender': 'Male', 'SeniorCitizen': 0, 'Partne...
3  0011-IGKFF   Yes  {'gender': 'Male', 'SeniorCitizen': 1, 'Partne...
4  0013-EXCHZ   Yes  {'gender': 'Female', 'SeniorCitizen': 1, 'Part...

                                             phone  \
0   {'PhoneService': 'Yes', 'MultipleLines': 'No'}
1  {'PhoneService': 'Yes', 'MultipleLines': 'Yes'}
2   {'PhoneService': 'Yes', 'MultipleLines': 'No'}
3   {'PhoneService': 'Yes', 'MultipleLines': 'No'}
4   {'PhoneService': 'Yes', 'MultipleLines': 'No'}

                                            internet  \
0  {'InternetService': 'DSL', 'OnlineSecurity': '...
1  {'InternetService': 'DSL', 'OnlineSecurity': '...
2  {'InternetService': 'Fiber optic', 'OnlineSecu...
3  {'InternetService': 'Fiber optic', 'OnlineSecu...
4  {'InternetService': 'Fiber optic', 'OnlineSecu...

                                             account
0  {'Contract': 'One year', 'PaperlessBilling': '...
1  {'Contract': 'Month-to-month', 'PaperlessBilli...
2  {'Contract': 'Month-to-month', 'PaperlessBilli...
3  {'Contract': 'Month-to-month', 'PaperlessBilli...
4  {'Contract': 'Month-to-month', 'PaperlessBilli...

In [3]:
# Paso 2: Confirmar estructura inicial
df.head()

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

In [4]:
# Revisi√≥n general del dataset
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   customerID  7267 non-null   object
 1   Churn       7267 non-null   object
 2   customer    7267 non-null   object
 3   phone       7267 non-null   object
 4   internet    7267 non-null   object
 5   account     7267 non-null   object
dtypes: object(6)
memory usage: 340.8+ KB
None

In [5]:
# Tipos de datos y descripci√≥n general
print(df.describe(include='all'))

        customerID Churn                                           customer  \
count         7267  7267                                               7267
unique        7267     3                                                891
top     9995-HOTOH    No  {'gender': 'Male', 'SeniorCitizen': 0, 'Partne...
freq             1  5174                                                223

                                                 phone  \
count                                             7267
unique                                               3
top     {'PhoneService': 'Yes', 'MultipleLines': 'No'}
freq                                              3495

                                                 internet  \
count                                                7267
unique                                                129
top     {'InternetService': 'No', 'OnlineSecurity': 'N...
freq                                                 1581

                                                  account
count                                                7267
unique                                               6931
top     {'Contract': 'Month-to-month', 'PaperlessBilli...
freq                                                    6

# üîßTransformaci√≥n (T - TRANSFORM)

Ahora que extra√≠mos los datos, es fundamental comprender la estructura del dataset y el significado de sus columnas. Esta etapa ayudar√° a identificar qu√© variables son m√°s relevantes para el an√°lisis de evasi√≥n de clientes.

üìå Para facilitar este proceso, se ha creado un diccionario de datos con la descripci√≥n de cada columna. Aunque no es obligatorio utilizarlo, podemos ayudarnos a comprender mejor la informaci√≥n disponible.

## Conociendo los datos

### Diccionario de datos

* Churn: si el cliente dej√≥ o no la empresa
* gender: g√©nero (masculino y femenino)
* SeniorCitizen: informaci√≥n sobre si un cliente tiene o no una edad igual o mayor a 65 a√±os
* Partner: si el cliente tiene o no una pareja
* Dependents: si el cliente tiene o no dependientes
* tenure: meses de contrato del cliente
* PhoneService: suscripci√≥n al servicio telef√≥nico
* MultipleLines: suscripci√≥n a m√°s de una l√≠nea telef√≥nica
* InternetService: suscripci√≥n a un proveedor de internet
* OnlineSecurity: suscripci√≥n adicional de seguridad en l√≠nea
* OnlineBackup: suscripci√≥n adicional de respaldo en l√≠nea
* DeviceProtection: suscripci√≥n adicional de protecci√≥n del dispositivo
* TechSupport: suscripci√≥n adicional de soporte t√©cnico, menor tiempo de espera
* StreamingTV: suscripci√≥n de televisi√≥n por cable
* StreamingMovies: suscripci√≥n de streaming de pel√≠culas
Contract: tipo de contrato
* PaperlessBilling: si el cliente prefiere recibir la factura en l√≠nea
* PaymentMethod: forma de pago
* Charges.Monthly: total de todos los servicios del cliente por mes
* Charges.Total: total gastado por el cliente

## Explorando los datos y transformando

* Explorar las columnas del dataset y verificar sus tipos de datos.
* Consultar el diccionario para comprender mejor el significado de las variables.
* Identificar las columnas m√°s relevantes para el an√°lisis de evasi√≥n.

Se sugiere DataFrame.info(); DataFrame.dtype, en la exloraci√≥n y an√°lisis

### Durante la revisi√≥n considerar

* Valores duplicados
* Valores vacios
* Valores nulos
* Tipos de datos
* Valores irregulares o at√≠picos
* Consistencia y validez de valores categ√≥ricos
* Normalizacion de textos

## üîß Transformaci√≥n y limpieza de datos (C√ìDIGO)

### Comprobaci√≥n de incoherencias en los datos

En este paso, verificar si hay problemas en los datos que puedan afectar el an√°lisis. Prestar atenci√≥n a valores ausentes, duplicados, errores de formato e inconsistencias en las categor√≠as. Este proceso es esencial para asegurarte de que los datos est√©n listos para las siguientes etapas.

Se recomienda usar pandas.unique(); pandas.Series.dt.normalize()

In [6]:
#Convertir los datos a un DataFrame de Pandas para facilitar su manipulaci√≥n

#Normalizar textos

from pandas import json_normalize

df = json_normalize(data)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerID                 7267 non-null   object
 1   Churn                      7267 non-null   object
 2   customer.gender            7267 non-null   object
 3   customer.SeniorCitizen     7267 non-null   int64
 4   customer.Partner           7267 non-null   object
 5   customer.Dependents        7267 non-null   object
 6   customer.tenure            7267 non-null   int64
 7   phone.PhoneService         7267 non-null   object
 8   phone.MultipleLines        7267 non-null   object
 9   internet.InternetService   7267 non-null   object
 10  internet.OnlineSecurity    7267 non-null   object
 11  internet.OnlineBackup      7267 non-null   object
 12  internet.DeviceProtection  7267 non-null   object
 13  internet.TechSupport       7267 non-null   object
 14  internet.StreamingTV       7267 non-null   object
 15  internet.StreamingMovies   7267 non-null   object
 16  account.Contract           7267 non-null   object
 17  account.PaperlessBilling   7267 non-null   object
 18  account.PaymentMethod      7267 non-null   object
 19  account.Charges.Monthly    7267 non-null   float64
 20  account.Charges.Total      7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [7]:
# Eliminar duplicados
print("Duplicados eliminados:", df.duplicated().sum())
df.drop_duplicates(inplace=True)

Duplicados eliminados: 0

In [8]:
# Normalizar textos en columnas categ√≥ricas
for col in df.select_dtypes(include='object').columns:
    df[col] = df[col].str.strip().str.lower()

In [9]:
# Valores nulos
print("Valores nulos:\n", df.isnull().sum())

Valores nulos:
 customerID                   0
Churn                        0
customer.gender              0
customer.SeniorCitizen       0
customer.Partner             0
customer.Dependents          0
customer.tenure              0
phone.PhoneService           0
phone.MultipleLines          0
internet.InternetService     0
internet.OnlineSecurity      0
internet.OnlineBackup        0
internet.DeviceProtection    0
internet.TechSupport         0
internet.StreamingTV         0
internet.StreamingMovies     0
account.Contract             0
account.PaperlessBilling     0
account.PaymentMethod        0
account.Charges.Monthly      0
account.Charges.Total        0
dtype: int64

### Manejo de inconsistencias

Ahora que se ha identificado las inconsistencias, es momento de aplicar las correcciones necesarias. Ajustar los datos para asegurarte de que est√©n completos y coherentes, prepar√°ndolos para las siguientes etapas del an√°lisis.

In [10]:
# Convertir valores num√©ricos err√≥neos
df['account.Charges.Monthly'] = pd.to_numeric(df['account.Charges.Monthly'], errors='coerce')
df['account.Charges.Total'] = pd.to_numeric(df['account.Charges.Total'], errors='coerce')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerID                 7267 non-null   object
 1   Churn                      7267 non-null   object
 2   customer.gender            7267 non-null   object
 3   customer.SeniorCitizen     7267 non-null   int64
 4   customer.Partner           7267 non-null   object
 5   customer.Dependents        7267 non-null   object
 6   customer.tenure            7267 non-null   int64
 7   phone.PhoneService         7267 non-null   object
 8   phone.MultipleLines        7267 non-null   object
 9   internet.InternetService   7267 non-null   object
 10  internet.OnlineSecurity    7267 non-null   object
 11  internet.OnlineBackup      7267 non-null   object
 12  internet.DeviceProtection  7267 non-null   object
 13  internet.TechSupport       7267 non-null   object
 14  internet.StreamingTV       7267 non-null   object
 15  internet.StreamingMovies   7267 non-null   object
 16  account.Contract           7267 non-null   object
 17  account.PaperlessBilling   7267 non-null   object
 18  account.PaymentMethod      7267 non-null   object
 19  account.Charges.Monthly    7267 non-null   float64
 20  account.Charges.Total      7256 non-null   float64
dtypes: float64(2), int64(2), object(17)
memory usage: 1.2+ MB

In [12]:
# Rellenar valores nulos si es necesario
df['account.Charges.Monthly'].fillna(df['account.Charges.Monthly'].mean(), inplace=True)
df['account.Charges.Total'].fillna(df['account.Charges.Total'].mean(), inplace=True)

/tmp/ipython-input-1055073861.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['account.Charges.Monthly'].fillna(df['account.Charges.Monthly'].mean(), inplace=True)
/tmp/ipython-input-1055073861.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['account.Charges.Total'].fillna(df['account.Charges.Total'].mean(), inplace=True)

In [13]:
#Eliminando las columnas de Churn
df = df[df['Churn'].str.strip() !='']
print("Numero de filas despu√©s de eliminar las vac√≠as en 'Churn':", len(df))

Numero de filas despu√©s de eliminar las vac√≠as en 'Churn': 7043

### Columna de cuentas diarias

Ahora que los datos est√°n limpios, es momento de crear la columna "Cuentas_Diarias". Utilizar la facturaci√≥n mensual para calcular el valor diario, proporcionando una visi√≥n m√°s detallada del comportamiento de los clientes a lo largo del tiempo.

In [14]:
# ===============================
# ‚ûó NUEVA COLUMNA: Cuentas_Diarias
# ===============================
df['Cuentas_Diarias'] = df['account.Charges.Monthly'] / 30

/tmp/ipython-input-1694342191.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Cuentas_Diarias'] = df['account.Charges.Monthly'] / 30